html {
	/*Set some global colors here for quick re-coloring of stuff!*/
	--bg-color: rgb(0, 0, 0);
	--green: rgb(15, 19, 13);
	--yellow: rgb(253, 238, 196);
	--yellow: rgb(253, 238, 196);
	--poink: rgb(255, 219, 244);
	--grey: rgb(220, 219, 219);
	--darker-color: rgb(223, 223, 223);
	--lighter-color: #9e9e9e;
	--accent-color: white;

	--sidebar-width: 140px;
	background-color: var(--bg-color);
	background-image: url();
	/*add image url for tiled background*/
	width: 100%;
	min-height: 100vh;
	position: relative;
}



html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
	color: var(--darker-color);
	background-color: var(--lighter-color);
}

body {
	line-height: 1.3;
	background-color: var(--bg-color);
	text-align: center;
	margin: 0px 10px 0px;
	font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

ol,
ul {
	list-style: none;
	list-style-type: square;
}

h1 {

	color: red;
	width: calc(100% - 20px);
	font-size: 3em;
	font-weight: bold;
	padding: 25px 10px 10px;
}

h1 img {
	width: 100%;
	max-width: 720px;
}

h2 {
	color: var(--grey);
	font-size: 2em;
	font-weight: bold;
	padding: 10px 8px 10px;
}

h3 {
	color: var(--grey);
	font-weight: regular;
	/*text-align: right;*/

}

p {
	padding: 10px 12px 10px;
}

footer {
	width: 100%;

}

nav {
	z-index: 99;

	background-color: rgb(0, 0, 0);
	padding: 6px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navlink {
	background-color: rgb(15, 19, 13);
	font-size: 100%;

	display: block;
	width: 1000px;
	padding: 5px;
	margin: 8px 10px 8px;
}

.flex-container {
	display: flex;
	flex-direction: row;
}


a:link {
	color: var(--grey);
}

/* visited link */
a:visited {
	color: var(--grey);

}

/* mouse over link */
a:hover {
	color: var(--poink);
}

/* selected link */
a:active {
	color: blue;
}